<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hiaccounts.in.restopos">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.app.RealmApplication"
        android:allowBackup="true"
        android:icon="@drawable/restologo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/restologo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".application.activity.Activity_Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".application.activity.AwesomeSplash" />
        <activity
            android:name=".application.activity.Activity_Login"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".application.activity.Activity_SignUp" />
        <activity
            android:name=".application.activity.Activity_Home"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop"/>
        <activity android:name=".application.controlpanel.ControlPanel_Activity" />
        <activity android:name=".product_and_tax.activity.Activity_Products" />
        <activity
            android:name=".application.bluetoothconnection.ListActivity"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".customer.activity.Activity_Customer" />
        <activity android:name=".product_and_tax.activity.Activity_Reports" />
        <activity android:name=".product_and_tax.activity.Activity_SyncData" />

        <service
            android:name=".jobschedular.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"></service>
    </application>

</manifest>